<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
    <application
        android:label="Omniversify"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- Shared comment/scroll links: open the app at that comment.
                 Verified via https://app.omniversify.com/.well-known/assetlinks.json -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https" android:host="app.omniversify.com"/>
            </intent-filter>
            <!-- Books another app opens with us: tap a PDF, EPUB, CBZ or CBR
                 in Downloads or a file manager and it lands in the reader. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/pdf"/>
                <data android:mimeType="application/epub+zip"/>
                <data android:mimeType="application/x-cbz"/>
                <data android:mimeType="application/vnd.comicbook+zip"/>
                <data android:mimeType="application/comicbook+zip"/>
                <data android:mimeType="application/x-cbr"/>
                <data android:mimeType="application/vnd.comicbook-rar"/>
                <data android:mimeType="application/x-rar-compressed"/>
                <data android:mimeType="application/rar"/>
            </intent-filter>
            <!-- …and for senders that only know the name: …/book.cbz typed
                 as anything, or given no type at all. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="content" android:host="*"/>
                <data android:mimeType="*/*" android:pathPattern=".*\.pdf"/>
                <data android:mimeType="*/*" android:pathPattern=".*\.PDF"/>
                <data android:mimeType="*/*" android:pathPattern=".*\.epub"/>
                <data android:mimeType="*/*" android:pathPattern=".*\.EPUB"/>
                <data android:mimeType="*/*" android:pathPattern=".*\.cbz"/>
                <data android:mimeType="*/*" android:pathPattern=".*\.CBZ"/>
                <data android:mimeType="*/*" android:pathPattern=".*\.cbr"/>
                <data android:mimeType="*/*" android:pathPattern=".*\.CBR"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="content" android:host="*"/>
                <data android:pathPattern=".*\.pdf"/>
                <data android:pathPattern=".*\.PDF"/>
                <data android:pathPattern=".*\.epub"/>
                <data android:pathPattern=".*\.EPUB"/>
                <data android:pathPattern=".*\.cbz"/>
                <data android:pathPattern=".*\.CBZ"/>
                <data android:pathPattern=".*\.cbr"/>
                <data android:pathPattern=".*\.CBR"/>
            </intent-filter>
        </activity>
        <!-- audio_service: required for media notification / background playback -->
        <service
            android:name="com.ryanheise.audioservice.AudioService"
            android:foregroundServiceType="mediaPlayback"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService"/>
            </intent-filter>
        </service>
        <receiver
            android:name="com.ryanheise.audioservice.MediaButtonReceiver"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>
        <!-- Android home-screen music widget -->
        <receiver
            android:name=".MusicWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/music_widget_info"/>
        </receiver>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
